@tailwind components;
@tailwind utilities;

#formationContainer {
  @apply bg-green-300 w-3/4 flex justify-center pt-10 pb-10;
}

.formationGrid {
}

.playerBlock {
  @apply text-center pt-2;
  img {
    height: 70px;
    width: 60px;
  }
}

.emptySpace {
  height: 100px;
  width: 100px;
}

/* Grid stylings */
.f_442 {
  @apply grid grid-cols-7;

  & .ls {
    grid-column: 3;
  }
  & .rs {
    grid-column: 5/8;
  }
  & .lm {
    grid-column: 1;
  }
  & .lcm {
    grid-column: 3;
  }
  & .rcm {
    grid-column: 5;
  }
  & .rm {
    grid-column: 7;
  }
  & .lb {
    grid-column: 1;
  }
  & .lcb {
    grid-column: 3;
  }
  & .rcb {
    grid-column: 5;
  }
  & .rb {
    grid-column: 7;
  }
  & .gk {
    grid-column: 4;
  }
}

.f_41212N {
  @apply grid grid-cols-7;

  & .ls {
    grid-column: 3;
  }
  & .rs {
    grid-column: 5/8;
  }
  & .cam {
    grid-column: 4/8;
  }
  & .lcm {
    grid-column: 3;
  }
  & .rcm {
    grid-column: 5/8;
  }
  & .cdm {
    grid-column: 4/8;
  }
  & .lb {
    grid-column: 1;
  }
  & .lcb {
    grid-column: 3;
  }
  & .rcb {
    grid-column: 5;
  }
  & .rb {
    grid-column: 7;
  }
  & .gk {
    grid-column: 4;
  }
}

.f_41212W {
  @apply grid grid-cols-7;

  & .ls {
    grid-column: 3;
  }
  & .rs {
    grid-column: 5/8;
  }
  & .cam {
    grid-column: 4/8;
  }
  & .lm {
    grid-column: 1;
  }
  & .rm {
    grid-column: 7;
  }
  & .cdm {
    grid-column: 4/8;
  }
  & .lb {
    grid-column: 1;
  }
  & .lcb {
    grid-column: 3;
  }
  & .rcb {
    grid-column: 5;
  }
  & .rb {
    grid-column: 7;
  }
  & .gk {
    grid-column: 4;
  }
}

.f_4132 {
  @apply grid grid-cols-7;

  & .ls {
    grid-column: 3;
  }
  & .rs {
    grid-column: 5/8;
  }
  & .lm {
    grid-column: 1;
  }
  & .cm {
    grid-column: 4;
  }
  & .rm {
    grid-column: 7;
  }
  & .cdm {
    grid-column: 4/8;
  }
  & .lb {
    grid-column: 1;
  }
  & .lcb {
    grid-column: 3;
  }
  & .rcb {
    grid-column: 5;
  }
  & .rb {
    grid-column: 7;
  }
  & .gk {
    grid-column: 4;
  }
}

.f_4141 {
  @apply grid grid-cols-7;

  & .st {
    grid-column: 4;
  }
  & .lm {
    grid-column: 1;
  }
  & .lcm {
    grid-column: 3;
  }
  & .rcm {
    grid-column: 5;
  }
  & .rm {
    grid-column: 7;
  }
  & .cdm {
    grid-column: 4;
  }
  & .lb {
    grid-column: 1;
  }
  & .lcb {
    grid-column: 3;
  }
  & .rcb {
    grid-column: 5;
  }
  & .rb {
    grid-column: 7;
  }
  & .gk {
    grid-column: 4;
  }
}

.f_4222 {
  @apply grid grid-cols-7;

  & .ls {
    grid-column: 3;
  }
  & .rs {
    grid-column: 5/8;
  }
  & .lam {
    grid-column: 3;
  }
  & .ram {
    grid-column: 5;
  }
  & .ldm {
    grid-column: 3;
  }
  & .rdm {
    grid-column: 5;
  }
  & .lb {
    grid-column: 1;
  }
  & .lcb {
    grid-column: 3;
  }
  & .rcb {
    grid-column: 5;
  }
  & .rb {
    grid-column: 7;
  }
  & .gk {
    grid-column: 4;
  }
}
