@tailwind components;
@tailwind utilities;

#formationContainer {
  @apply bg-green-300 w-full flex justify-center pt-5 pb-10;
  overflow-y: auto;
}

.formationGrid {
  @apply grid;
  justify-content: space-evenly;
  width: 600px;
}

.playerBlock {
  @apply text-center pt-2;
  position: relative;

  img {
    height: 70px;
    width: 60px;
  }
  span {
    position: relative;
    top: -4px;
  }
}

.emptySpace {
  height: 100px;
  width: 100px;
}

/* Grid stylings */
.f_442 {
  & .ls {
    grid-column: 3;
  }
  & .rs {
    grid-column: 5;
  }
  & .lm {
    grid-column: 1;
  }
  & .lcm {
    grid-column: 3;
  }
  & .rcm {
    grid-column: 5;
  }
  & .rm {
    grid-column: 7;
  }
  & .lb {
    grid-column: 1;
  }
  & .lcb {
    grid-column: 3;
  }
  & .rcb {
    grid-column: 5;
  }
  & .rb {
    grid-column: 7;
  }
  & .gk {
    grid-column: 4;
  }
}

.f_41212N {
  & .ls {
    grid-column: 3;
  }
  & .rs {
    grid-column: 5;
  }
  & .cam {
    grid-column: 4;
  }
  & .lcm {
    grid-column: 3;
  }
  & .rcm {
    grid-column: 5;
  }
  & .cdm {
    grid-column: 4;
  }
  & .lb {
    grid-column: 1;
  }
  & .lcb {
    grid-column: 3;
  }
  & .rcb {
    grid-column: 5;
  }
  & .rb {
    grid-column: 7;
  }
  & .gk {
    grid-column: 4;
  }
}

.f_41212W {
  & .ls {
    grid-column: 3;
  }
  & .rs {
    grid-column: 5;
  }
  & .cam {
    grid-column: 4;
  }
  & .lm {
    grid-column: 1;
    top: -20px;
  }
  & .rm {
    grid-column: 7;
    top: -20px;
  }
  & .cdm {
    grid-column: 4;
    top: -40px;
  }
  & .lb {
    grid-column: 1;
    top: -40px;
  }
  & .lcb {
    grid-column: 3;
    top: -40px;
  }
  & .rcb {
    grid-column: 5;
    top: -40px;
  }
  & .rb {
    grid-column: 7;
    top: -40px;
  }
  & .gk {
    grid-column: 4;
    top: -40px;
  }
}

.f_4132 {
  & .ls {
    grid-column: 3;
  }
  & .rs {
    grid-column: 5;
  }
  & .lm {
    grid-column: 1;
  }
  & .cm {
    grid-column: 4;
  }
  & .rm {
    grid-column: 7;
  }
  & .cdm {
    grid-column: 4;
  }
  & .lb {
    grid-column: 1;
  }
  & .lcb {
    grid-column: 3;
  }
  & .rcb {
    grid-column: 5;
  }
  & .rb {
    grid-column: 7;
  }
  & .gk {
    grid-column: 4;
  }
}

.f_4141 {
  & .st {
    grid-column: 4;
  }
  & .lm {
    grid-column: 1;
  }
  & .lcm {
    grid-column: 3;
  }
  & .rcm {
    grid-column: 5;
  }
  & .rm {
    grid-column: 7;
  }
  & .cdm {
    grid-column: 4;
  }
  & .lb {
    grid-column: 1;
  }
  & .lcb {
    grid-column: 3;
  }
  & .rcb {
    grid-column: 5;
  }
  & .rb {
    grid-column: 7;
  }
  & .gk {
    grid-column: 4;
  }
}

.f_4222 {
  & .ls {
    grid-column: 3;
  }
  & .rs {
    grid-column: 5;
  }
  & .lam {
    grid-column: 3;
  }
  & .ram {
    grid-column: 5;
  }
  & .ldm {
    grid-column: 3;
  }
  & .rdm {
    grid-column: 5;
  }
  & .lb {
    grid-column: 1;
  }
  & .lcb {
    grid-column: 3;
  }
  & .rcb {
    grid-column: 5;
  }
  & .rb {
    grid-column: 7;
  }
  & .gk {
    grid-column: 4;
  }
}
