@tailwind components;
@tailwind utilities;

#formationContainer {
  @apply bg-green-300 w-3/4 h-full flex justify-center pt-3;
}

.playerBlock {
  @apply bg-blue-200 text-center;
  height: 100px;
  width: 100px;
  border: 1px solid black;
}
.emptySpace {
  height: 100px;
  width: 100px;
}

/* Grid stylings */
.f_4-4-2 {
  @apply grid grid-cols-7;

  & .ls {
    grid-column: 3;
  }
  & .rs {
    grid-column: 5/8;
  }
  & .rm {
    grid-column: 1;
  }
  & .lcm {
    grid-column: 3;
  }
  & .rcm {
    grid-column: 5;
  }
  & .rm {
    grid-column: 7;
  }
  & .lb {
    grid-column: 1;
  }
  & .lcb {
    grid-column: 3;
  }
  & .rcb {
    grid-column: 5;
  }
  & .rb {
    grid-column: 7;
  }
  & .gk {
    grid-column: 4;
  }
}
